# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

if command -v devbox 2>&1 >/dev/null && [[ -z "$DISABLE_DEVBOX_DIRENV" ]]; then
  eval "$(devbox generate direnv --print-envrc)"
fi
